@charset "UTF-8";
#header{ 
	height : 130px;
	width : 900px;
	margin : 0 auto;
}

#headertop{
	height : 22px;
}
#headertop>ul{
	list-style:none; 
	height: 25px; 
	float : right; 
	display : flex; 
	gap : 0px; 
	margin : 0;
	line-height: 0; 
	clear: both; 
	padding: 10px;
	width : 200px;
	height: 100px;
}
#headermain{
	margin : 0; 
	border-top : 1px solid gray;
	height : 130px;
}
#headermain>ul{
	list-style : none;
	display : flex;
	gap : 0; 
	margin : 0;
	line-height: 10px; 
	clear: both;
	position : relative;
	top : -40px;
	padding : 0 123px;
	height : 30px;
}
#headermain>ul li{
	margin : 0 14px;
}

#headermain>ul h1{
	margin : 0;
	position : relative;
	top : -35px;
}

img{
	width : 150px;
	height : 70px;
}
#main{
	border : 1px solid red;
	background-color: white;
	margin: 0 auto;
	height: 500px;
	width : 800px;
}
.hang{
	float : left;
	width: 540px;
	height: 200px;
	background-color: green;
	margin : 50px 0 50px 100px;  
}
.hang h2{
	display : inline-block;
	margin : 20px; 
}
.hang span,a{
	margin : 20px;
}
#footder{
	border : 1px solid blue;
	height: 200px;
	width : 800px;
	margin : 0 auto;
}
.footleft{
	float:left; 
	border : 1px solid red;
	list-style:none;
}

.footright{
	float:right; 
	border : 1px solid red;
	list-style:none;
}